# For Loop

In [1]:
s = "abcd"
for c in s:
    print(c)

a
b
c
d

In [9]:
# print number from 1 to n
n = int(input())
#  range(1,2,3)
# 1-> start (default 0) , 2 -> stop , 3 -> step(default 1)
for i in range(1,n+1,2):
    print(i)

11
1
3
5
7
9
11

In [10]:
n = int(input())
for i in range(n+1):
    print(i)

4
0
1
2
3
4

In [12]:
n = int(input())

for i in range(n , 0 , -1):
    print(i)

5
5
4
3
2
1

In [19]:
# print multiple of 3
a = int(input())
b = int(input())

for i in range(a,b+1,1):
    if ( i % 3 ==0):
        print(i)

1
30
3
6
9
12
15
18
21
24
27
30

In [20]:
a = int(input())
b = int(input())

for i in range(a,b+1,1):
    if ( i % 3 ==0):
        print(i)

8
30
9
12
15
18
21
24
27
30

In [22]:
n = int(input())
flag = False
for d in range(2,n):
    if( n % d==0):
        flag = True
if flag :
    print("Not prime")
else:
    print("prime")

23
prime

In [30]:
n = int(input())
for i in range(1 , n+1 ,1):
    for s in range(n-i):
        print(" ", end ='')
    for j in range(i, 2*i,1):
        print(j,end='')
    for j in range(2*i -2, i-1 ,-1):
        print(j,end='')
    
    print()

4
   1
  232
 34543
4567654

## Break

In [6]:
i = 1
while i< 10:
    
    if i == 5:
        break
    print(i)
    i = i+1

1
2
3
4
5

## Else with loop

In [8]:
i = 1
while i <10:
    print(i)
    i=i+1
else:
    print("This will be printed at the end")

1
2
3
4
5
6
7
8
9
This will be printed at the end

In [11]:
for i in range(1,10):
    print(i)
else:
    print("This will be also printed at the end")

1
2
3
4
5
6
7
8
9
This will be also printed at the end

#### code inside else will not be execute if while/for is finished because of break statement

In [13]:
#  Print if n is prime
n = int(input())
for d in range(2,n,1):
    if n % d == 0:
        break
else:
    print("prime")

11
prime

## Continue keyword

In [18]:
# it is use to skip a iteration
n = int(input())
for i in range(2,n+1,2):
    if i % 7 == 0:
        continue
    print(i)

100
2
4
6
8
10
12
16
18
20
22
24
26
30
32
34
36
38
40
44
46
48
50
52
54
58
60
62
64
66
68
72
74
76
78
80
82
86
88
90
92
94
96
100

In [19]:
n = int(input())
for i in range(2,n+1,2):
    print(i)
    if i % 7==0:
        continue
    print(i)

30
2
2
4
4
6
6
8
8
10
10
12
12
14
16
16
18
18
20
20
22
22
24
24
26
26
28
30
30

In [25]:
i=1
while i<3:
    j=0
    while j<5:
        j=j+1
        if j==3:
            continue
        print(j,end=' ')
    i=i+1

1 2 4 5 1 2 4 5

## Pass keyword

In [29]:
# if you not want to write anything in loop or if

i = 3
if i< 5:
    pass
print("hemllo")

hemllo

In [30]:
i = 1
for i in range(1,5):
    pass
print("end")

end